
main{
    width: 80%;
    margin: 1rem auto;
}

header{
    text-align: center;
}

body{
    background-image: url(https://i.pinimg.com/564x/1c/48/fd/1c48fdf110bd0750bbdaf0eb50a53b7a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* 
.actions .button{
    /*margin-bottom: 0;
} */

.itemName{
    margin: 0 0 .75rem;
}

.template{
    display: none;
}

#dateDisplay{
    text-align: left;
    padding: 10px;
    padding-bottom: 21px;
}

button{
    text-align: center;
}

#li{
    background-color: white;
}

