main{
    width: 80%;
    margin: 1rem auto;
}
header{
    text-align: center;
}
/* 
.actions .button{
    /*margin-bottom: 0;
} */

.itemName{
    margin: 0 0 .75rem;
}

.template{
    display: none;
}

#dateDisplay{
    text-align: left;
    padding: 10px;
    padding-bottom: 21px;
}

button{
    text-align: center;
}

